<div class="row justify-content-start">
    <div class="col">
        <div class="row">
            <section id="datos">
                <h5>Quiénes Somos</h5>
            </section>
        </div>
        <div class="row">
            <section id="negocio">
                <!-- <img src="../../../assets/img/farmaciaNegocio.jpg" alt=""> -->
                <video width="620"  height="440"  muted controls>
                    <source src="../../../assets/img/helados.mp4" >
                </video>
            </section>
        </div>
    </div>
    <div class="col">
        
        <div class="row justify-content-end" id="informacion">
            <div class="col-8" style="margin-right: 20px;">
                <p>
                    quite a few meaningless phrases here to demonstrate how the columns interact here with the floated
                    image.
                    As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would
                    look
                    with some actual content in here, rather than just this boring placeholder text that goes on and on,
                    but
                    actually conveys no tangible information at. It simply takes up space and should not really be read.
                </p>
                <p>
                    And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                    insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that
                    here.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem commodi reiciendis voluptas rem
                    maxime eum
                    veniam id totam dolorem laborum doloremque, perspiciatis tenetur tempore
            </div>
        </div>
    </div>
</div>

<div id="siguenos">
    <label>REDES SOCIALES</label>
    <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
    <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
    <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
    <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
</div>
